{% extends 'layout.html' %}
{% block head %}
{{super()}}
{% endblock %}

{% block content %}
<div class="container">
  <br>
  <br>
  <div class="row justify-content-md-center">
    <div class="col-md-auto" style="background-color:#ffffff">
      <br>
      <form name="SignupForm" action="/signup", method="post">
        <div class="form-group">
          <label for="Email">Email address</label>
          <input type="email" class="form-control" id="Email" autofocus name="email" aria-describedby="emailHelp" required>
        </div>
      <div class="form-group">
        <label for="display_name">Display name</label>
        <input type="text" class="form-control" id="display_name" name="display_name" aria-describedby="display_name" required>
      </div>
      <div class="form-group">
       <label for="inputPassword6">Password</label>
       <input type="password" id="password" name="password" class="form-control" aria-describedby="passwordHelpInline" required>
      </div>
      <div class="form-group">
       <label for="channel">Chanel</label>
       <input type="text" id="channel" name="channel" class="form-control" aria-describedby="channel"  required>
      </div>
      <button type="submit" class="btn btn-info">Sign Up</button>
      <a href="{{url_for('index')}}">Sign in</a>
   </form>
   <br>
  </div>
 </div>
</div><br>
<div class="container" style="width:300px; font-size:11px; text-align: justify">
<div class="row justify-content-md-center">
  <div class="col-md-auto" style="background-color:#ffffff">
  <p>By clicking "Sign up" I agree to the <a href="{{ url_for('terms') }}" target="_blank">Term of Service</a>.
     For more information about Tonglais privacy practices, see the <a href="{{url_for('terms')}}" target="_blank">Tonglais Privacy Statement</a>.</p>
 </div>
</div>
</div>
{% endblock %}
